@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
     width: 5px;
}
::-webkit-scrollbar-track {
     background: #ffffff;
     border-radius: 100px;
}
::-webkit-scrollbar-thumb {
     background: #7e22ce;
     border-radius: 12px;
}
::selection {
     color: #0b1224f3;
     background-color: #7e22ce;
}
